/*style.css*/
/*Programmé par Julien Hébert*/
/*Le 21 Novembre 2019*/

body {
    width : 900px;
    margin : auto;
    background-color: ghostwhite;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    color: chocolate;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: justify;
}

a {
    color : blue;
    text-decoration: none;
}

a:visited {
    color : darkblue;
}
 a:hover {
     text-decoration: underline;
 }

 img {
     border-radius: 10%;
 }

 img:hover {
     box-shadow: 20px 20px 20px #555;
 }

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    color: red;
    font-size: 50px;
}

th, td {
    padding: 15px;
    text-align: left;
}

th{
    background-color: slateblue ;
}

ol,ul {
    color: blue;
    font-size: 25px
}